---
title: Followers // DISCoverBEST
---

<div class="container">
  <h1>Followers</h1>
  <div class="row">
    <main class="well col-sm-9 col-xs-10 user-page-comp user-followers-comp">
      <h3>Users following <a href="user" class="username">daplgray</a></h3>
<!-- User 1 -->
      <section class="row">
        <figure class="col-xs-4 col-sm-3">
          <a href="user"><img src="https://randomuser.me/api/portraits/med/women/38.jpg" alt="" class="img-circle"></a>
          <div class="follower-comp hidden-xs">
            <p>Followers: <a href="/followers">106</a></p>
            <p>Following: <a href="/following">61</a></p>
            <p>Reviews: <a href="#">99</a></p>
          </div>
        </figure>

        <figcaption class="col-sm-5 col-xs-5">
          <a href="user" class="username">Freakerap</a>
          <div class="follower-comp visible-xs">
            <p>Followers: <a href="/followers">106</a></p>
            <p>Following: <a href="/following">61</a></p>
            <p>Reviews: <a href="#">99</a></p>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs user-profile-lower">
              <p class="users-name">Georgia Webb</p>
              <p class="user-link"><span class="fa fa-link"></span>: <a href="#">twitter.com/Freakerap</a></p>
              <p class="bio-title">Bio:</p>
              <p class="bio"><%= lorem.sentences 2 %></p>
            </div>
          </div>
        </figcaption>

        <div class="col-sm-3 hidden-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
        </div>
        <div class="col-xs-3 visible-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
        </div>
      </section>
      <hr>
<!-- User 2 -->
      <section class="row">
        <figure class="col-xs-4 col-sm-3">
          <a href="user"><img src="https://randomuser.me/api/portraits/med/women/80.jpg" alt="" class="img-circle"></a>
          <div class="follower-comp hidden-xs">
            <p>Followers: <a href="/followers">52</a></p>
            <p>Following: <a href="/following">51</a></p>
            <p>Reviews: <a href="#">70</a></p>
          </div>
        </figure>

        <figcaption class="col-sm-5 col-xs-5">
          <a href="user" class="username">Ineslink</a>
          <div class="follower-comp visible-xs">
            <p>Followers: <a href="/followers">52</a></p>
            <p>Following: <a href="/following">51</a></p>
            <p>Reviews: <a href="#">70</a></p>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs user-profile-lower">
              <p class="users-name">Carole Miller</p>
              <p class="user-link"><span class="fa fa-link"></span>: <a href="#">facebook.com/<%= lorem.word %><%= lorem.word %></a></p>
              <p class="bio-title">Bio:</p>
              <p class="bio"><%= lorem.sentences 2 %></p>
            </div>
          </div>
        </figcaption>

        <div class="col-sm-3 hidden-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
        </div>
        <div class="col-xs-3 visible-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
        </div>
      </section>
      <hr>
<!-- User 3 -->
      <section class="row">
        <figure class="col-xs-4 col-sm-3">
          <a href="user"><img src="https://randomuser.me/api/portraits/med/men/83.jpg" alt="" class="img-circle"></a>
          <div class="follower-comp hidden-xs">
            <p>Followers: <a href="/followers">46</a></p>
            <p>Following: <a href="/following">61</a></p>
            <p>Reviews: <a href="#">40</a></p>
          </div>
        </figure>

        <figcaption class="col-sm-5 col-xs-5">
          <a href="user" class="username"><%= lorem.word %><%= lorem.word %></a>
          <div class="follower-comp visible-xs">
            <p>Followers: <a href="/followers">46</a></p>
            <p>Following: <a href="/following">61</a></p>
            <p>Reviews: <a href="#">40</a></p>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs user-profile-lower">
              <p class="users-name">Tomothy Freeman</p>
              <p class="user-link"><span class="fa fa-link"></span>: <a href="#">instagram.com/<%= lorem.word %><%= lorem.word %></a></p>
              <p class="bio-title">Bio:</p>
              <p class="bio"><%= lorem.sentences 2 %></p>
            </div>
          </div>
        </figcaption>

        <div class="col-sm-3 hidden-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
        </div>
        <div class="col-xs-3 visible-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
        </div>
      </section>
      <hr>
<!-- User 4 -->
      <section class="row">
        <figure class="col-xs-4 col-sm-3">
          <a href="user"><img src="https://randomuser.me/api/portraits/med/women/73.jpg" alt="" class="img-circle"></a>
          <div class="follower-comp hidden-xs">
            <p>Followers: <a href="/followers">60</a></p>
            <p>Following: <a href="/following">120</a></p>
            <p>Reviews: <a href="#">95</a></p>
          </div>
        </figure>

        <figcaption class="col-sm-5 col-xs-5">
          <a href="user" class="username"><%= lorem.word %><%= lorem.word %></a>
          <div class="follower-comp visible-xs">
            <p>Followers: <a href="/followers">60</a></p>
            <p>Following: <a href="/following">120</a></p>
            <p>Reviews: <a href="#">95</a></p>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs user-profile-lower">
              <p class="users-name">Nellie Castillo</p>
              <p class="user-link"><span class="fa fa-link"></span>: <a href="#">facebook.com/<%= lorem.word %><%= lorem.word %></a></p>
              <p class="bio-title">Bio:</p>
              <p class="bio"><%= lorem.sentences 2 %></p>
            </div>
          </div>
        </figcaption>

        <div class="col-sm-3 hidden-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
        </div>
        <div class="col-xs-3 visible-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
        </div>
      </section>
      <hr>
<!-- User 5 -->
      <section class="row">
        <figure class="col-xs-4 col-sm-3">
          <a href="user"><img src="https://randomuser.me/api/portraits/med/women/59.jpg" alt="" class="img-circle"></a>
          <div class="follower-comp hidden-xs">
            <p>Followers: <a href="/followers">79</a></p>
            <p>Following: <a href="/following">109</a></p>
            <p>Reviews: <a href="#">16</a></p>
          </div>
        </figure>

        <figcaption class="col-sm-5 col-xs-5">
          <a href="user" class="username"><%= lorem.word %><%= lorem.word %></a>
          <div class="follower-comp visible-xs">
            <p>Followers: <a href="/followers">79</a></p>
            <p>Following: <a href="/following">109</a></p>
            <p>Reviews: <a href="#">16</a></p>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-xs user-profile-lower">
              <p class="users-name">Teresa Crawford</p>
              <p class="user-link"><span class="fa fa-link"></span>: <a href="#">tumblr.com/<%= lorem.word %><%= lorem.word %></a></p>
              <p class="bio-title">Bio:</p>
              <p class="bio"><%= lorem.sentences 2 %></p>
            </div>
          </div>
        </figcaption>

        <div class="col-sm-3 hidden-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> Following</a>
        </div>
        <div class="col-xs-3 visible-xs">
          <a href="#" class="btn btn-block btn-primary btn-follow following"><span class="fa fa-user"></span> <span class="fa fa-check"></span></a>
        </div>
      </section>
      <hr>

      <section class="text-center">
        <a href="#" class="btn btn-primary btn-lg">More Users</a>
      </section>
    </main>
  </div>
</div>
